/*
=======================================
	Website				: Name[URL]
	Version				: 1.0
	Author				: Aslam Najeebdeen
	Author Email		: aslam@frontcube.com
	Author URI			: http://frontcube.com
	Date				: 


	CONTENTS -----------
	
			1.BASIC
			 1.1 STRUCTURE 
			 1.2 HTML5 
			 1.3 UTIL CLASSES
			2.DEFAULT STYLINGS
				2.1 DEFAULT FORM STYLES
			3.HEADINGS
			4.LINKS
			5.LAYOUT
				5.1 SLOGAN
				5.2 HOME CONTAINER 
				5.3 SLIDER 
			6.BRANDING/MASTHEAD
			7.NAVIGATION
				7.1 PRIMARY NAVIGATION
				7.2 SECONDARY NAVIGATION
			8 FOOTER
			
			9.SITE-WIDE ELEMENTS
				9.1 PAGINATION
				9.2 SUB BLOCKS
				9.3 404
				
	COLORS ---------------
	
			font orange		#fc6a00
			font gray 		#444444
			link			#00addf
			
				
=======================================
*/


/* 1.BASIC */
@font-face {

}



	/* 1.1 STRUCTURE */
	body { font-size: 0.8em; line-height: 1.5em; color: #444444; }
	a { text-decoration: none; }
	a:link, a:visited { text-decoration: none; }
	a:hover {}
	blockquote { }
	ul { list-style: none; }
	

	/* 1.2 HTML5 */
	article, aside, dialog, figure, footer, header, hgroup, nav, section { display:block; }
	
	/* 1.1 UTIL CLASSES */
	.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0;}
	.right { float: right; }
	.left { float: left; }
	
	
/* 2.DEFAULT STYLINGS */

	/* 2.1 DEFAULT FORM STYLES */
	
	
	input[type=text], 
	input[type=password] { }
  
	select { }
	
	input[type="text"]:focus, input[type="password"]:focus , select:focus, textarea:focus { }
	input, select { font-size: 0.95em;}
	textarea { font-size: 1.1em; font-family: Arial, Verdana, sans-serif;}
	
	

/* 3.HEADINGS */
h1 { }
h2 { }
h3 { }
h4 { }

  
/* 4.LINKS */



/* 5.LAYOUT */
.container { }


	/* 5.1 SLOGAN */
	
	/* 5.2 HOME CONTAINER */
	
	/* 5.3 SLIDER */
	
	
/*6.BRANDING/MASTHEAD */

/*7.NAVIGATION */

	/* 7.1 PRIMARY NAVIGATION */
	
	/* 7.2 SECONDARY NAVIGATION */
	
/* 8 FOOTER */


/* 9.SITE-WIDE ELEMENTS */

	/* 9.1 PAGINATION */
	
	/* 9.2 SUB BLOCKS */

    /* 9.3 404 */



	
	
